* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
}

body {
  font-size: 16px;
  line-height: 1;
  background-color: rgb(81, 167, 167);
}

header {
  font-size: 40px;
  font-weight: bolder;
  background-color: rgb(58, 58, 58);
  color: aliceblue;
  text-align: center;
  padding: 25px;
  background-color: blue;
}

.container {
  width: 100%;
  padding-top: 20px;
  clear: both;
  float: right;
}

section {
  overflow: auto;
  clear: both;
  width: 100%;
}

#navbar {
  height: 100%;
  position: fixed;
  top: 90px;
  left: 0;
  background-color: darkslategray;
}
.body {
  background-color: darkolivegreen;
}
h1 {
  padding: 20px 0px 10px 5px;
  color: aliceblue;
}

#basic-text1 {
  background-color: #007bff;
}

h2 {
  font-size: 30px;
  text-align: left;
  font-weight: bolder;
  padding: 20px;
}

p {
  padding-bottom: 250px;
  color: black;
}

a {
  font-size: 18px;
  color: black;
  line-height: 35px;
}

ul {
  color: black;
  font-size: 18px;
  line-height: 24px;
  padding-left: 20px;
}

#fiveDay {
  text-align: left;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 15px;
  font-size: 30px;
  color: black;
}

#dailyforcast {
  width: 100%;
  padding: 0;
}

.card-deck {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  align-content: center;
}

.fiveDayCard {
  border: none;
}

.card-header {
  font-size: 20px;
  font-weight: bolder;
  color: black;
  text-align: center;
  padding-bottom: 0px;
  border: none;
}

.card-body {
  text-align: center;
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 30px;
  color: black;
  background-color: darkolivegreen;
  border: none;
}

@media screen and (max-width: 576px) {
  .navbar-brand {
    text-align: center;
    padding: 0 auto;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .navbar-brand {
    text-align: center;
    padding: 0 auto;
    width: 100%;
  }
}
