ul {
  list-style: none;
}

li {
  border-bottom: 1px solid blanchedalmond;
  text-align: left;
  padding-left: 10px;
}

.card-title {
  font-size: 20px;
}

img {
  width: 100px;
  height: 100px;
}

.fiveDayColor {
  padding: 20px;
  background-color: black;
  color: white;
  float: left;
  margin: 10px;
  border: 1px solid lightgray;
}
